@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
* {
    box-sizing: border-box;
    margin: 0;
}
html,
body {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0px;
}
.image {
    width: 100%;
    height: 50px;
    opacity: 0.5;
}
.quote {
    font-size: 20px;
}
ul {
    padding: 0px;
    margin: 0px;
}
.navItem a {
    display: inline-block;
    color: #FFFFFF;
    width: 32%;
    padding: 14px;
    text-decoration: none;
    font-family: "Slabo 27px", serif;
    font-size: 14px;
}
.navItem {
    width: 100%;
    background-color: #000000;
}
.navItem ul {
    width: 100%;
}
.navItem li {
    display: inline;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}
#pageContent {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 20px;
    font-family: "Slabo 27px", serif;
}
#castPage {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 40px;
    font-family: "Slabo 27px", serif;
    width: 100%;
    display: inline;
    padding-bottom: 75px;
    font-family: "Slabo 27px", serif;
}
.navItem {
    padding: 0.5rem 1rem;
    width: 100%;
    display: block;
    float: left;
    border: 1px solid #666;
    text-align: center;
    text-decoration: none;
    background-color: #222;
    color: white;
    font-weight: 700;
    font-size: 2rem;
}
[data-role=page] {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: #C1E1FF;
}
.inactive-page {
    animation: slide-down 2s 1;
    animation-fill-mode: forwards;
    z-index: 100;
}
@keyframes slide-down {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, 100%, 0);
    }
}
